<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dongfu.mapper.WorldUserMapper">

    <insert id="insertOneData" parameterType="org.dongfu.entity.WorldUser">
         insert into world_user(name, age) values(#{name}, #{age})
    </insert>
</mapper>