<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wanbang.mapper.SysLogMapper">

    <insert id="insertLog" parameterType="org.wanbang.entity.SysLog">
       INSERT INTO `sys_log`(`uri`,`dao_method_name`, `ip`, `whole_sql`,`remark`, `create_date`) VALUES (#{uri}, #{daoMethodName}, #{ip}, #{wholeSql}, #{remark}, #{createDate})
    </insert>
</mapper>