<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 手动装配 -->
<!--        <bean id="cat" class="org.wanbang.study.autowireDoc.test1.Cat"/>-->
<!--        <bean id="dog" class="org.wanbang.study.autowireDoc.test1.Dog"/>-->
<!--        <bean id="people" class="org.wanbang.study.autowireDoc.test1.Peopel">-->
<!--            <property name="name" value="张三"/>-->
<!--            <property name="cat" ref="cat"/>-->
<!--            <property name="dog" ref="dog"/>-->
<!--        </bean>-->

    <!-- 通过xml文件实现自动装配 (1.byName) -->
<!--    <bean id="cat" class="org.wanbang.study.autowireDoc.test1.Cat"/>
    <bean id="dog" class="org.wanbang.study.autowireDoc.test1.Dog"/>
    <bean id="people" class="org.wanbang.study.autowireDoc.test1.Peopel" autowire="byName">
        <property name="name" value="张三"/>
    </bean>-->


    <!-- 通过xml文件实现自动装配 (1.byType) -->
<!--    <bean id="cat" class="org.wanbang.study.autowireDoc.test1.Cat"/>-->
<!--    <bean id="dog" class="org.wanbang.study.autowireDoc.test1.Dog"/>-->
<!--    <bean id="people" class="org.wanbang.study.autowireDoc.test1.Peopel" autowire="byType">-->
<!--        <property name="name" value="张三"/>-->
<!--    </bean>-->


    <!-- 通过注解实现自动装配 Autowired注解【常用】-->
<!--    <context:annotation-config/>-->

    <bean id="cat" class="org.wanbang.study.autowireDoc.test1.Cat">
        <property name="name" value="123"></property>
    </bean>
    <bean id="dog" class="org.wanbang.study.autowireDoc.test1.Dog"/>
    <bean id="people" class="org.wanbang.study.autowireDoc.test1.Peopel">
        <property name="name" value="张三"/>
    </bean>

</beans>
