<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wanbang.dao.UserDao">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="org.wanbang.entity.User">
                    <id column="id" property="id" jdbcType="bigint(20)"/>
                    <result column="name" property="name" jdbcType="varchar(30)"/>
                    <result column="age" property="age" jdbcType="int(11)"/>
                    <result column="email" property="email" jdbcType="varchar(50)"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, name, age, email
        </sql>
</mapper>